body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.title-page {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}
.line-height-26 {
  line-height: 26px;
}
